<div cdkDropListGroup>
  <div class="relationships-container">
    <h2>{{ 'manage.relationships.selected-list.title' | translate }}</h2>
    @if ((isLoading | async)) {
      <ds-loading></ds-loading>
    }
    @if ((this.isLoading | async) !== true) {
      @if ((filteredRelationships && filteredRelationships.length > 0) ) {
        <div
          cdkDropList
          [cdkDropListData]="filteredRelationships"
          class="relationships-list"
          (cdkDropListDropped)="drop($event)">
          @for (relationship of filteredRelationships; track relationship; let last = $last) {
            <div class="relationships-sort-list"
              [class.border-bottom]="!last" cdkDrag [cdkDragDisabled]="pendingChanges">
              <ds-relationships-items-list-preview
                (deleteRelationship)="deleteRelationship.emit($event)"
                [pendingChanges]="pendingChanges"
                [viewConfig]="'relationship-sort-list'"
                [customData]="{ relationship: relationship }"
              [item]="(relationship.leftItem | async)?.payload"></ds-relationships-items-list-preview>
            </div>
          }
        </div>
      } @else {
        <ds-alert [type]="'alert-info'">{{ 'manage.relationships.no.relationships.found' | translate }}</ds-alert>
      }
    }

  </div>

</div>
