@if ((generatedToken | async) === null || (generatedToken | async) === undefined) {
  <div data-test="notGenerated">
    @if ((tokenAlreadyExists | async) !== true) {
      <ds-alert data-test="infoAlert"
        [type]="'alert-info'"
      [content]="'profile.card.access-token.no-token-generated'"></ds-alert>
    }
    @if ((tokenAlreadyExists | async)) {
      <ds-alert data-test="warningAlert"
        [type]="'alert-warning'"
      [content]="'profile.card.access-token.token-generated'"></ds-alert>
    }
    <div class="space-children-mr">
      @if ((tokenAlreadyExists | async)) {
        <button class="btn btn-danger float-end" data-test="revokeBtn" (click)="revokeToken()">
          <i class="fas fa-trash-alt"></i> {{'profile.card.access-token.delete' | translate}}
        </button>
      }
      <button class="btn btn-primary float-end me-2" (click)="generateToken()" data-test="createBtn">
        <i class="fas fa-key"></i> {{'profile.card.access-token.create' | translate}}
      </button>
    </div>
  </div>
}

@if ((generatedToken | async)) {
  <div data-test="generated">
    <ds-alert [type]="'alert-info'"
    [content]="'profile.card.access-token.copy-info'"></ds-alert>
    <div class="input-group mb-3" data-test="tokenGroup">
      <span class="input-group-text"><i class="fas fa-check text-success"></i></span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{generatedToken | async}}" readonly data-test="tokenInput">
        <button class="input-group-text btn btn-link btn-sm" (click)="copyTokenToClipboard()" title="{{'profile.card.access-token.copy' | translate}}">
          <i class="far fa-copy"></i>
        </button>
    </div>
  </div>
}
