@if (!reports) {
  <ds-loading></ds-loading>
}

@if (reports) {
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-40">
        <h2>{{'statistics.reports.title' | translate}}</h2>
        <ul class="nav nav-pills mb-2">
          @for (report of (reports | dsFilterMap : false); track report) {
            <li class="nav-item me-3">
              <a class="nav-link" [ngClass]="{'active' : !!selectedReport && selectedReport.id === report.id}"
                href="#"
                (click)="$event.preventDefault();$event.stopPropagation();changeReport(report)">
                {{'statistics.table.' + categoryType + '.title.' + report.reportType | translate}}
              </a>
            </li>
          }
        </ul>
        @if (!selectedReport) {
          <ds-loading></ds-loading>
        }
        @if (selectedReport) {
          <ds-statistics-chart-wrapper [type]="selectedReport.viewMode"
            [categoryType]="categoryType"
          [report]="selectedReport"></ds-statistics-chart-wrapper>
        }
      </div>
    </div>
  </div>
}
