<section class="home-guides" aria-label="Repository guides">
  <ng-container *ngIf="variant === 'cards'; else tabbedGuides">
    <div class="home-guides__cards" role="list">
      <article *ngFor="let card of infographicCards" class="home-guides__card" role="listitem">
        <h3 class="home-guides__card-title">{{ card.title }}</h3>
        <p class="home-guides__card-description">{{ card.description }}</p>
        <a class="home-guides__card-link" [routerLink]="card.viewLink">{{ card.viewText }}</a>
      </article>
    </div>
  </ng-container>

  <ng-template #tabbedGuides>
    <div class="home-guides__tabs" role="tablist" aria-label="Guides">
      <button
        type="button"
        *ngFor="let card of infographicCards"
        class="home-guides__tab"
        role="tab"
        [attr.aria-selected]="activeTab === card.id"
        [class.is-active]="activeTab === card.id"
        (click)="setActiveTab(card.id)">
        {{ card.title }}
      </button>
    </div>

    <article class="home-guides__panel" role="tabpanel">
      <ng-container *ngIf="getActiveCard() as card">
        <h3 class="home-guides__title">{{ card.title }}</h3>
        <p class="home-guides__description">{{ card.description }}</p>
        <a class="home-guides__link" [routerLink]="card.viewLink">{{ card.viewText }}</a>
      </ng-container>
    </article>
  </ng-template>
</section>
