<div class="btn-group">
  <div class="switch-container" [ngClass]="backgroundClass">
    @for (option of options; track option) {
      <div class="switch-opt"
           (click)="onOptionClick(option.value)"
           [class.bg-white]="selectedValue === option.value">
        <i [class]="option.icon + ' ' + (selectedValue === option.value ? 'text-' + option.iconColor : '')"></i>
      </div>
    }
  </div>
  @for (option of options; track option) {
    @if (selectedValue === option.value) {
      <span [class]="selectedValue === option.value ? 'text-' + option.labelColor : ''"
            class="visibility-label ms-2 fw-bold">
        {{ option.label | translate }}
      </span>
    }
  }
</div>
