<div class="m-1">
  @if (hasData) {
    <div class="export-buttons-container mb-2">
      <button class="btn btn-secondary me-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="exportExcel()">
        @if ((isLoading | async) === true) {
          <span><i class="fas fa-circle-notch fa-spin"></i> {{'loading.default' | translate}}</span>
        }
        @if ((isLoading | async) !== true) {
          <span><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.excel' | translate}}</span>
        }
      </button>
      <button class="btn btn-secondary me-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="exportCsv()">
        @if ((isSecondLoading | async) === true) {
          <span><i class="fas fa-circle-notch fa-spin"></i> {{'loading.default' | translate}}</span>
        }
        @if ((isSecondLoading | async) !== true) {
          <span><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.csv' | translate}}</span>
        }
      </button>
    </div>
  }

  @if (hasData) {
    <table #dataTable id="dataTable" class="table table-striped" [attr.data-test]="report.reportType">
      <tbody>
        <tr>
          @for (header of headers; track header) {
            <th scope="col" [ngClass]="{'text-end': header === 'views' || header === 'downloads'}" class="{{header}}-header">
              {{ 'statistics.table.' + categoryType + '.header.' + header | translate }}
            </th>
          }
        </tr>
        @for (point of report.points; track point) {
          <tr class="{{point.id}}-data">
            <th scope="row" data-test="statistics-label">
              @if (point && point.type && entityTypesToConvertToLink.includes($any(point.type))) {
                <a [href]="(point | dsCreateLink) | async">{{ point.label }} </a>
              } @else {
                <span>
                  {{ point.label }}
                </span>
              }
            </th>
            @for (header of headers | slice:1; track header) {
              <td
                [ngClass]="{'text-end': header === 'views' || header === 'downloads'}" class="{{point.id}}-{{header}}-data">
                {{ point.values[header] }}
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <ds-alert [type]="'alert-info'" [content]="'statistics.table.no-data'"></ds-alert>
  }

</div>
