<ds-item-list-preview
  [item]="item"
  [object]="$any(object)"
  [metadataList]="metadataList"
  [showLabel]="false"
  [showThumbnails]="false"
></ds-item-list-preview>

@if (isWorkFlow) {
  <div class="mt-2">
    <form>
      <div class="form-group mb-2">
        <label class="mb-1" for="submitterDecision"><strong> {{'submission.sections.detect-duplicate.submitter-decision' | translate}} </strong></label><br>
        <span id="submitterDecision" class="badge badge-pill {{decisionLabelClass}}">
          {{submitterDecision$ | async}}
        </span>
      </div>
      @if (submitterNote) {
        <div class="form-group">
          <label for="submitterNote"><strong>{{'submission.sections.detect-duplicate.submitter-note' | translate}}</strong></label>
          <textarea class="form-control" id="submitterNote" rows="3" readonly>{{submitterNote}}</textarea>
        </div>
      }
    </form>
  </div>
}

@if (!hasDecision && !readOnly) {
  <div class="mt-3 mb-2 space-children-mr">
    <button type="button"
      class="btn btn-warning"
      ngbTooltip="{{'submission.sections.detect-duplicate.duplicate-help' | translate}}"
      [dsBtnDisabled]="(processingVerify | async) || (processingReject | async)"
      (click)="openModal(modal)">
      @if ((processingVerify | async) === true) {
        <span><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
      }
      @if ((processingVerify | async) !== true) {
        <span>{{duplicateBtnLabel$ | async}}</span>
      }
    </button>
    <button type="button"
      class="btn btn-success"
      ngbTooltip="{{'submission.sections.detect-duplicate.not-duplicate-help' | translate}}"
      [dsBtnDisabled]="(processingReject | async) || (processingVerify | async)"
      (click)="setAsNotDuplicate()">
      @if ((processingReject | async) === true) {
        <span><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
      }
      @if ((processingReject | async) !== true) {
        <span>{{notDuplicateBtnLabel$ | async}}</span>
      }
    </button>
    <a class="btn btn-primary"
      ngbTooltip="{{'submission.workflow.generic.view-help' | translate}}"
      [routerLink]="itemPageRoute"
      target="_blank">
      <i class="fa fa-info-circle"></i> {{"submission.workflow.generic.view" | translate}}
    </a>
  </div>
}

@if (hasDecision && !readOnly) {
  <div class="mt-3 mb-2">
    <button type="button"
      class="btn btn-danger"
      ngbTooltip="{{'submission.sections.detect-duplicate.clear-decision-help' | translate}}"
      (click)="clearDecision()">
      <span> {{'submission.sections.detect-duplicate.clear-decision' | translate}}</span>
    </button>
  </div>
}

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'submission.workflow.tasks.claimed.reject.reason.title' | translate}}</h4>
    <button type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      {{'submission.sections.detect-duplicate.note-help' | translate}}
    </div>
    <form (ngSubmit)="setAsDuplicate();" [formGroup]="rejectForm" >
      <textarea class="w-100"
        formControlName="reason"
        rows="4"
      placeholder="{{'submission.sections.detect-duplicate.note-placeholder' | translate}}"></textarea>
      <div class="d-grid">
        <button id="btn-chat"
                class="btn btn-danger btn-lg mt-3"
                [dsBtnDisabled]="!rejectForm.valid"
                type="submit">
          @if ((processingReject | async) === true) {
            <span><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
          }
          @if ((processingReject | async) !== true) {
            <span>{{'submission.sections.detect-duplicate.duplicate' | translate}}</span>
          }
        </button>
      </div>
    </form>
  </div>
</ng-template>


