<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
  <div class="container">
    <div class="background-image">
      <div class="container">
        <div class="bg-light p-5 mb-4 rounded-3">
          <div class="container-fluid py-5">
            @if (hasHomeNewsMetadata) {
            <ds-text-section [sectionId]="'site'"
                             [textRowSection]="homeNewsSection"
                             [site]="(site$ | async)">
            </ds-text-section>
            <ds-themed-home-infographics [variant]="'cards'"></ds-themed-home-infographics>
          } @else {
            <div class="d-flex flex-wrap">
              <div>
                <h1 class="display-2">Uganda Christian University Digital Institutional Repository (UCUDIR)</h1>
                <p class="lead">Digital Institutional Repository: A Centre of Excellence in the Heart of Africa</p>
              </div>
            </div>
            <ul>
              <li>Preserve and provide access to UCU's scholarly, educational and cultural output
              </li>
              <li>Promote open access to research and knowledge, supporting global academic collaboration
              </li>
              <li>Ensure long-term preservation and visibility of UCU intellectual contributions</li>
            </ul>
            <p>Explore our collections and discover the innovative research emerging from
              <a href="https://www.ucu.ac.ug/" target="_blank" role="link" tabindex="0">Uganda Christian University</a>.
            </p>
            <ds-themed-home-infographics [variant]="'cards'"></ds-themed-home-infographics>
          }
          </div>
        </div>
      </div>
      <small class="credits">Photo by
        <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a>
      </small>
    </div>
  </div>
</div>
