<div class="home-hero mt-ncs" aria-label="Home hero">
  <div class="container home-hero__content">
    <div class="home-hero__card">
      <h1 class="home-hero__title">Uganda Christian University Digital Institutional Repository</h1>
      <p class="home-hero__lead">A Centre of Excellence in the Heart of Africa</p>
    </div>
  </div>

  <picture class="home-hero__image">
    <img alt="" [src]="'assets/images/background.jpg'"/>
  </picture>
  <small class="home-hero__credits">Uganda Christian University</small>
</div>

<section class="home-news-section" aria-label="Home news">
  <div class="container">
    <div class="home-news-section__inner">
      @if (hasHomeNewsMetadata) {
        <ds-text-section [sectionId]="'site'"
                         [textRowSection]="homeNewsSection"
                         [site]="(site$ | async)"></ds-text-section>
      } @else {
        <p class="home-news-section__lead">
          Welcome to Uganda Christian University's Digital Institutional Repository. Preserve and provide access to the scholarly output of UCU,
          promote open access to research and knowledge, and ensure long-term visibility of UCU intellectual contributions.
          Explore our collections and discover the innovative research and scholarship emerging from
          <a href="https://www.ucu.ac.ug/" target="_blank" role="link" tabindex="0">Uganda Christian University</a>.
        </p>
      }

      <ds-themed-home-infographics [variant]="'cards'"></ds-themed-home-infographics>
    </div>
  </div>
</section>
